<html>

<head>
  <title>Single Sign On</title>
  <link rel="icon" type="image/x-icon" href="public/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/styles.css" />

  <!-- Google SignIn API -->
  <script src="https://accounts.google.com/gsi/client" async defer></script>

  <script>
    async function signOut() {
      await fetch(`/invalidate/${window.accessToken}`);
      google.accounts.id.disableAutoSelect();
      onSignInStateChange({});
    }

    function onSignInStart() {
      document.body.className = "status-processing";
    }

    async function onSignInStateChange({ credential }) {
      window.accessToken = credential;

      if (!window.accessToken) {
        document.body.className = "status-signed-out";
        return;
      }

      try {
        const response = await fetch(`/verify/${window.accessToken}`)
        if (response.status !== 200) {
          throw new Error();
        }

        document.body.className = "status-verified";

        {{#if hasRedirect}}
        window.location = "{{redirect}}?token=" + window.accessToken;
        {{/if}}
      } catch {
        document.body.className = "status-unverified";
      }
    }
  </script>
</head>

<body class="status-signed-out">
  <div class="card">
    <h1>
      <span id="hostname-text">{{hostname}}</span>
      <br />
      Single Sign On
    </h1>
    <p>
      <strong>
        <span id="status-text-processing">Processing</span>
        <span id="status-text-signed-out">Not signed in</span>
        <span id="status-text-verified">Verified</span>
        <span id="status-text-unverified">Unverified user</span>
      </strong>
    </p>
    <p>
      <button id="sign-out-button" onclick="signOut();">Sign out</button>
      <div id="sign-in-button" class="g_id_signin" data-type="standard" data-click_listener="onSignInStart"></div>
      <div id="g_id_onload" data-auto_select="true" data-client_id="{{clientId}}" data-callback="onSignInStateChange"></div>
    </p>
  </div>
  <div class="animation clockwise"></div>
  <div class="animation counter-clockwise"></div>
</body>

</html>