* {
  --accent-medium: #1976d2;
  --accent-light: #63a4ff;
  --background-color: #f2f2f2;
  --success-color: #4caf50;
  --error-color: #f44336;
}

body {
  text-align: center;
  font-family: Calibri, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

#hostname-text {
  font-style: normal;
  color: var(--accent-medium);
}

#sign-in-button {
  margin-left: auto;
  margin-right: auto;
}

#sign-out-button {
  background: var(--accent-medium);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

#sign-out-button:hover {
  background: var(--accent-light);
}

#status-text-processing,
#status-text-signed-out {
  color: var(--accent-medium);
}

#status-text-verified {
  color: var(--success-color);
}

#status-text-unverified {
  color: var(--error-color);
}

.card {
  z-index: 1;
  padding: 2%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
}

.animation {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid var(--accent-medium);
  border-radius: 100px;
}

.clockwise {
  animation: rotate-clockwise 3s infinite alternate;
  width: 70vh;
  height: 70vh;
}

.counter-clockwise {
  animation: rotate-counterclockwise 3s infinite alternate;
  width: 60vh;
  height: 60vh;
}

@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-counterclockwise {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body.status-processing {
  #status-text-processing,
  #sign-in-button {
    display: inline;
  }
  #status-text-signed-out,
  #status-text-verified,
  #status-text-unverified,
  #sign-out-button {
    display: none;
  }
  .clockwise,
  .counter-clockwise {
    animation-duration: 1s;
    animation-direction: normal;
    animation-timing-function: linear;
  }
}

body.status-signed-out {
  #status-text-signed-out,
  #sign-in-button {
    display: inline;
  }
  #status-text-processing,
  #status-text-verified,
  #status-text-unverified,
  #sign-out-button {
    display: none;
  }
}

body.status-verified {
  #status-text-verified,
  #sign-out-button {
    display: inline;
  }
  #status-text-processing,
  #status-text-signed-out,
  #status-text-unverified,
  #sign-in-button {
    display: none;
  }
  .clockwise,
  .counter-clockwise {
    animation-duration: 10s;
    animation-direction: normal;
    animation-timing-function: linear;
  }
}

body.status-unverified {
  #status-text-unverified,
  #sign-out-button {
    display: inline;
  }
  #status-text-processing,
  #status-text-signed-out,
  #status-text-verified,
  #sign-in-button {
    display: none;
  }
  .animation {
    border-color: var(--error-color);
  }
}
